<div *ngIf="!error;else error_content" class="card-container">
    <md-card class="game-section" *ngFor="let section of game.sections">
        <md-card-title>{{section.title}}</md-card-title>
        <md-card-content>
            <ul *ngFor="let level of section.levels">
                <li>
                    <a (click)="navigateTo(level.levelId)">{{level.title}}</a>
                </li>
            </ul>
        </md-card-content>
    </md-card>
</div>
<ng-template #error_content>{{error}}</ng-template>