<div class="page-container">
    <md-toolbar color="primary">
        <span class="mat-toolbar-row visible-xs">
            <a md-icon-button (click)="showSidebar()">
                <md-icon>menu</md-icon>
            </a>
            <span class="toolbar-filler"></span>
            <a md-icon-button routerLink="/about" (click)="closeSidebar()">
                <md-icon>help</md-icon>
            </a>
        </span>
        <span class="mat-toolbar-row hidden-xs">
            <span>Crash Times</span>
            <span class="toolbar-filler"></span>
            <a md-button routerLink="/about"><md-icon>help</md-icon> ABOUT</a>
            <a md-button href="https://github.com/dhainzl/crash-times" target="_blank"><md-icon>code</md-icon> GITHUB</a>
        </span>
    </md-toolbar>

    <div class="page-content">
        <md-sidenav-container>
            <md-sidenav #sidenav mode="{{navMode}}" opened="true">
                <nav>
                    <ul>
                        <li *ngFor="let game of games">
                            <a [routerLink]="[ '/games', game.gameId ]" routerLinkActive="active" (click)="closeSidebar()" class="game game-{{game.gameId}}">
                                <span class="game-title">{{game.title}}</span>
                                <span class="game-subtitle" *ngIf="game.subtitle">{{game.subtitle}}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </md-sidenav>

            <div class="game-content">
                <router-outlet></router-outlet>
            </div>
        </md-sidenav-container>
    </div>
</div>