
<div *ngIf="!error;else error_content">
    <a class="arrow arrow-left" *ngIf="previousLevel" [routerLink]="[ '/games', game.gameId, previousLevel.levelId ]">
        <span class="label">
            <md-icon>chevron_left</md-icon>
            <span class="label-appear">{{previousLevel.title}}</span>
        </span>
    </a>
    <a class="arrow arrow-right" *ngIf="nextLevel" [routerLink]="[ '/games', game.gameId, nextLevel.levelId ]">
        <span class="label">
            <span class="label-appear">{{nextLevel.title}}</span>
            <md-icon>chevron_right</md-icon>
        </span>
    </a>
    <div class="times">
        <md-card>
            <md-card-title>{{level.title}}</md-card-title>
            <md-card-subtitle>
                <a [routerLink]="[ '/games', game.gameId ]">{{game.title}} &ndash; {{section.title}}</a>
            </md-card-subtitle>
            <ul>
                <li>Sapphire: {{times.sapphire}}</li>
                <li>Gold: {{times.gold}}</li>
                <li>Platinum: {{times.platinum}}</li>
            </ul>
        </md-card>
    </div>
</div>
<ng-template #error_content>{{error}}</ng-template>