<div>
    <a routerLink="/{{game.gameId}}">Back to {{game.title}}</a>
</div>

<div *ngIf="!error;else error_content">
    <h3>{{level.title}}</h3>
    <ul>
        <li>Sapphire: {{times.sapphire}}</li>
        <li>Gold: {{times.gold}}</li>
        <li>Platinum: {{times.platinum}}</li>
    </ul>

    <div>
        <span *ngIf="previousLevel">
            <a routerLink="/{{game.gameId}}/{{previousLevel.levelId}}">&lt;&lt; {{previousLevel.title}}</a>
        </span>
        <span *ngIf="nextLevel">
            <a routerLink="/{{game.gameId}}/{{nextLevel.levelId}}">{{nextLevel.title}} &gt;&gt;</a>
        </span>
    </div>
</div>
<ng-template #error_content>{{error}}</ng-template>