.arrow {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    font-size: 30px;
    width: 50%;
    height: 100%;

    color: rgba(0,0,0,.87);
    z-index: 1;

    white-space: nowrap;

    &:hover {
        text-decoration: none;

        > span.label {
            .label-appear {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    &.arrow-left {
        text-align: left;
        left: 0;

        > span.label {
            .label-appear {
                left: 24px;
            }
        }
    }
    &.arrow-right {
        text-align: right;
        right: 0;

        > span.label {
            .label-appear {
                right: 100%;
            }
        }
    }

    > span.label {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .label-appear {
            display: inline-block;
            font-size: 19px;
            position: absolute;
            top: 5px;
            transform: translateY(-100%);
            opacity: 0;

            transition: all .3s ease-in-out;
        }
    }
}

.times {
    .times-list {
        display: flex;
        list-style-type: none;
        padding: 0;

        li {
            flex: 1;
            text-align: center;
            margin: 5px 10px;
            max-width: 250px;
            
            img {
                width: 100%;
                max-width: 100px;
            }

            span {
                font-weight: bold;
                display: inline-block;
                margin-top: 10px;
            }
        }
    }

    .times-note {
        color: rgba(0,0,0,.87);
        font-size: 12px;
    }
}

md-card-subtitle a {
    color: inherit;
}

@media screen and (max-width: 767px) {
    .times {
        .times-list {
            flex-direction: column;

            li {
                text-align: left;

                img {
                    height: 50px;
                    width: auto;
                }

                br { display: none; }

                span {
                    position: relative;
                    top: -21px;
                    margin-left: 20px;
                }
            }
        }
    }
}