<md-card>
    <md-card-title>About this project</md-card-title>

    <p>This is a pet project of <a href="https://dhainzl.at" target="_blank">David Hainzl</a>. It is open source and available via <a href="https://github.com/dhainzl/crash-times" target="_blank">GitHub</a>.</p>

    <p>It is intended to help players know the target times to achieve relics in the game <a href="http://www.crashbandicoot.com/" target="_blank">Crash Bandicoot</a> by <a href="http://www.vvisions.com/" target="_blank">Vicarious Visions</a>. </p>
</md-card>

<md-card>
    <md-card-title>Credits</md-card-title>

    <ul>
        <li>
            <a href="https://angular.io/" target="_blank">Angular</a> and the related libraries and tools:
            <ul>
                <li><a href="https://cli.angular.io/" target="_blank">Angular CLI</a> (making developing Angular apps easy)</li>
                <li><a href="https://material.angular.io/" target="_blank">Angular Material Design</a> (Googles fantastic design for Angular)</li>
            </ul>
        </li>
        <li><a href="https://github.com" target="_blank">GitHub</a> which hosts this page and the source code</li>
        <li><a href="http://www,vvisions.com" target="_blank">Vicarious Visions</a>, the creators of a great game</li>
        <li><a href="https://www.reddit.com/user/Im-A-Faun-You-Dork" target="_blank">/u/Im-A-Faun-You-Dork</a> on reddit, who took the work of fetching all the required times from the game <a href="https://www.reddit.com/r/crashbandicoot/comments/6lokay/made_a_spreadsheet_for_all_of_the_relic_times/" target="_blank">here</a></li>
        <li><a href="https://www.reddit.com/r/crashbandicoot" target="_blank">/r/crashbandicoot</a> and the awesome people there</li>
        <li><a href="https://github.com/Js41637" target="_blank">Js41637</a>, who inspired me with his <a href="https://js41637.github.io/Overwatch-Item-Tracker/#/" target="_blank">Overwatch Item Tracker</a> to create an app for Crash Bandicoot</li>
    </ul>
</md-card>

<md-card>
    <md-card-title>Copyright</md-card-title>

    This site is not affiliated with Vicarious Visions or Activision Blizzard.<br>
    All trademarks referenced herein are the properties of their respective owners. <br>
    ©2017 Activision Publishing, Inc. All rights reserved.
</md-card>